/*
* iziToast | v1.0.2
* http://izitoast.marcelodolce.com
* by Marcelo Dolce.
*/

.iziToast

	&.iziToast-layout2
		& .iziToast-body > p
			width 100%
	
/*
 * EXAMPLE new layouts
 *
	&.iziToast-layout3
		margin 20px
*/