/*
* iziToast | v1.4.0
* http://izitoast.marcelodolce.com
* by Marcelo Dolce.
*/

.iziToast

	&.iziToast-layout2
		& .iziToast-body
			& .iziToast-texts, & .iziToast-message
				width 100%

	&.iziToast-layout3
		border-radius: 2px;
		&::after
			display none

/*
 * EXAMPLE new layouts
 *
	&.iziToast-layout4
		margin 20px
*/