/*
* iziToast | v1.0.2
* http://izitoast.marcelodolce.com
* by Marcelo Dolce.
*/


$font-family = 'Lato', arial
$animation-time1 = 0.7s
$animation-time2 = 0.85s
$animation-time3 = 1s


@import 'toast'
@import 'themes'
@import 'layouts'
@import 'animations'